.pong-title {
    color: white;
    text-shadow: 2px 2px 2px #000;
    font-family: 'Press Start 2P', cursive;
}

#friend-list-container {
   margin-top: 20px;
   padding: 0;
}
 
.friend-bar {
   position: fixed;
   top: 72px;
   right: 0;
   width: 250px;
   height: 100%;
   background-color: #333;
   color: #fff;
   padding: 10px;
   box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
}

.friend-list li {
   display: flex;
   align-items: center;
   margin-bottom: 30px !important;
   justify-content: flex-start;
}

.friend-status {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   margin-right: 5px;
}

.online {
   background-color: #4CAF50;
}

.offline {
   background-color: #808080;
}

.friend-info {
   display: flex;
   align-items: center;
}

.friend-avatar {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-right: 10px;
}

.friend-name {
   margin: 0;
}


.offcanvas-btn {
   left: 420px;
   visibility: visible;
 }
 
 .offcanvas-btn span:last-child,
 .offcanvas.show .offcanvas-btn span:first-child {
   display: none;
 }
 
 .offcanvas.show .offcanvas-btn span:last-child {
   display: inline;
 }

  li.dropdown:last-child .dropdown-menu {
   right: 0;
   left: auto;
 }

.box-area {
    width: 400px;
    height: 500px;
}

 .background {
    height: 100vh;
    width: 100vw;
 }

 .hidden {
    display: none;
 }